.application-card {
  display: flex;
  gap: 8px;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 2px;
  font-family: var(--second-family);
  padding: 24px;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;

  &__circle {
    width: 56px;
    height: 56px;
    background-color: var(--color-accent);
    border-radius: 50%;

    &--first {
      background-color: var(--secondary-orange);
    }

    &--second {
      background-color: #3209ff;
    }

    &--third {
      background-color: var(--secondary);
    }
  }

  &__title {
    font-family: var(--font-family);
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
  }
}
