.car {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  border-radius: 16px;
  height: 403px;
  position: relative;
  color: var(--primary);

  &__decor {
    position: absolute;
    bottom: 0;
    z-index: 0;
    height: 379px;
  }

  &__image {
    height: 108px;
    object-fit: contain;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  &__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 106%;
    margin-bottom: 8px;
  }

  &__mark {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-primary);
  }

  &__about {
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    width: 80%;
    margin: 0 auto;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__button {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);

    &:hover {
      background-color: transparent;
      color: var(--primary);
    }
  }
}
