.questions-container {
  border-radius: 10px;
  padding: 20px 24px;
  transition: 0.3s ease-in-out;
  background-color: var(--secondary-light);
  height: fit-content;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 0 26px 0 0;
  display: flex;
  position: relative;
  cursor: pointer;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  list-style: none;
  color: var(--color-text-primary);
  justify-content: space-between;
}

details summary:after {
  content: "+";
  color: var(--secondary);
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: var(--color-secondary);
  margin: 0 0 1rem;
  padding-top: 23px;
}
