.education-section {
  background-image: url('../../public/images/education-decor.png');
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__title {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 40%;
    }
  }

  &__content {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      width: 60%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__item {
    &:nth-child(even) {
      background-color: var(--secondary-light);
    }
  }
}
