.faq-section {
  &__title {
    margin-bottom: 40px;
  }

  &__container {
    display: grid;
    gap: 20px;
    margin-top: 50px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
