.footer {
  padding: 31px 0 18px;
  color: var(--color-text-second);
  font-weight: 300;
  font-size: 14px;
  line-height: 225%;
  letter-spacing: -0.03em;

  &:before {
    content: '';
    border: 0.90px solid #e0e0e0;
    height: 1px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet){
      flex-direction: row;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__link {
    color: var(--color-text-second);

    &:hover {
      color: var(--secondary);
    }
  }

  &__copyright {
    margin: 0;
  }
}
