.section {
  padding: 59px 0;

  @media screen and (min-width: $bp-tablet){
    padding: 88px 0;
  }

  &__title {
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;

    @media screen and (min-width: $bp-tablet){
      font-size: 48px;
    }

    &--centered {
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    text-align: center;
    opacity: .8;
  }
}
